@model WootrixV2.Models.Company

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>
    Company home page - Normally this will show a login interface 
</h2>

<div>
    <!--I'm putting the company attributes in hidden tags so the page can be customised at runtime by js -->
    <div id="thisComanyName" val="@Html.DisplayFor(model => model.CompanyName)" style="visibility:hidden"></div>
    <div id="thisCompanyLogoUrl" val="@Html.DisplayFor(model => model.CompanyLogoUrl)" style="visibility:hidden"></div>
    <div id="thisCompanyMessage" val="@Html.DisplayFor(model => model.CompanyMessage)" style="visibility:hidden"></div>
    <div id="thisCompanyPrimaryHighlightColor" val="@Html.DisplayFor(model => model.CompanyPrimaryHighlightColor)" style="visibility:hidden"></div>
    <div id="thisCompanySecondaryHighlightColor" val="@Html.DisplayFor(model => model.CompanySecondaryHighlightColor)" style="visibility:hidden"></div>
    <div id="thisCompanyBackgroundColor" val="@Html.DisplayFor(model => model.CompanyBackgroundColor)" style="visibility:hidden"></div>
    <div id="thisCompanyHeaderBackgroundColor" val="@Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)" style="visibility:hidden"></div>

    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyLogoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyLogoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyPrimaryHighlightColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyPrimaryHighlightColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanySecondaryHighlightColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanySecondaryHighlightColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyBackgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)
        </dd>
    </dl>
</div>


