@model IEnumerable<WootrixV2.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyPrimaryHighlightColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanySecondaryHighlightColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyLogoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPrimaryHighlightColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanySecondaryHighlightColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyBackgroundColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
