@model IEnumerable<WootrixV2.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLogoImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyBackgroundImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyFocusImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTextMain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTextSecondary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyHighlightColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>

                    @{
                        var base64Logo = Convert.ToBase64String(item.CompanyLogoImage);
                        var imgSrcLogo = String.Format("data:image/gif;base64,{0}", base64Logo);
                    }
                    <img src="@imgSrcLogo"  height="35"/>
                    @*@Html.DisplayFor(modelItem => item.CompanyLogoImage)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyBackgroundColor)
                </td>
                <td>
                    @{
                        var imgSrcBack = "";
                        if (item.CompanyBackgroundImage != null)
                        {
                            var base64Back = Convert.ToBase64String(item.CompanyBackgroundImage);
                            imgSrcBack = String.Format("data:image/gif;base64,{0}", base64Back);
                        }
                    }
                    <img src="@imgSrcBack" height="35" />
                </td>
                <td>
                    @{
                        var imgSrcFoc = "";
                        if (item.CompanyFocusImage != null)
                        {
                            var base64Foc = Convert.ToBase64String(item.CompanyFocusImage);
                            imgSrcFoc = String.Format("data:image/gif;base64,{0}", base64Foc);
                        }
                    }
                    <img src="@imgSrcFoc" height="35" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTextMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTextSecondary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyHighlightColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyHeaderBackgroundColor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
