@{
    ViewData["Title"] =  Localizer["Home"];

    var companyID = -1;
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using WootrixV2.Data;

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Banner -->

@if (SignInManager.IsSignedIn(User))
{
    @if (User.HasClaim(ClaimTypes.Role, "Admin"))
    {
        <!--Should build in the old style interface for consistency-->
        <div class="fix-container clearfix">
            <div class="super-admin-cont">
                <div class="admin-profile clearfix">
                    <h4>@Localizer["Super Admin"]</h4>
                    <h5>@UserManager.GetUserName(User)</h5>

                </div>
                <div class="categories">
                    <ul>
                        <li>
                            <a asp-controller="Users" asp-action="Index" asp-route-id="Admin" style="color:@Context.Session.GetString("CompanyHeaderFontColor") !important">
                                <span><img src="~/images/icon-3.png" alt="" /></span>
                                <strong>@Localizer["Manage Company Admins"]</strong>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Company" asp-action="Index" style="color:@Context.Session.GetString("CompanyHeaderFontColor") !important">
                                <span><img src="~/images/icon-5.png" alt="Manage Companies" /></span>
                                <strong>@Localizer["Manage Companies"]</strong>
                            </a>
                        </li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            var _user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
                            companyID = _user.companyID;
                        }
                        <li>
                            <a asp-area="" asp-controller="CompanyDepartments" asp-action="Index" style="color:@Context.Session.GetString("CompanyHeaderFontColor") !important">
                                <span><img src="~/images/icon-1.png" alt="Department Filters" /></span>
                                <strong>@Localizer["Department Filters"]</strong>
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    }
}
else
{
    <section id="bannerWootrix">
        <div class="container clearfix">
            <div class="span7 left">
                <figure class="main-home-image">
                    <img src="~/images/website_images/home-screen.png" alt="" />
                </figure>
            </div>
            <div class="span5 right">
                <div class="social-login-cont">
                    <div class="signin-social">
                        <h3>@Localizer["The smart way to find and distribute knowledge."]</h3>
                        @*<div class="social-icons clearfix">
                                <ul>
                                    <li class="fb"><a href="https://www.facebook.com/v2.12/dialog/oauth?client_id=1627701464153107&amp;state=f00046d081144491894cf1e6024f52b1&amp;response_type=code&amp;sdk=php-sdk-5.6.2&amp;redirect_uri=http%3A%2F%2Fwww.wootrix.com%2Findex.php%2FfbCallback&amp;scope=email">Facebook</a></li>
                                    <li class="twitter"><a href="http://wootrix.com/index.php/website/login_twitter/index">Twitter</a></li>
                                    <li class="linkedin"><a href="http://wootrix.com/index.php/website/loginWithLinkedIn">linkedin</a></li>
                                    <li class="google"><a href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http%3A%2F%2Fwootrix.com%2Findex.php%2FgCallback&client_id=181469443324-j5neoccka33afjuvm4gnu2itnn07oo0n.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&access_type=offline&approval_prompt=force&state=+-++-++-++-+">google</a></li>
                                </ul>
                            </div>
                            <div class="login-divider">
                                <span>ou</span>
                            </div>*@
                    </div>
                    <div class="btn-box clearfix">
                        <a asp-area="Identity" class="register-bttn" asp-page="/Account/Login">@Localizer["Login"]</a>
                    </div>
                    <div class="register-form condition">
                        <div class="input-box">
                            <a href="http://wootrix.com/index.php/wootrix-terms-services" target="_blank"> <small>@Localizer["By Signing up, you are agreeing to Wootrix Terms and Privacy"]</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>@Localizer["Bring your content to your audience with ease"]</h2>
            </header>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image"><img src="~/images/pic01.jpg" alt="Example Picture of Application 1" /></div><div class="content">
                <h2>
                    @Localizer["Customize your post"]

                </h2>
                <p>@Localizer["Determine the topics and languages ​​of your interest and our algorithms put together a free digital magazine tailored for you."]</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="~/images/pic02.jpg" alt="Example Picture of Application 2" /></div><div class="content">
                <h2>
                    @Localizer["Curatorial platform, with user-friendly appearance."]

                </h2>
                <p>@Localizer["Through a modern, beautiful and easy-to-read layout, the platform guides you to minutely selected relevant content."]</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="~/images/pic03.jpg" alt="Example Picture of Application 3" /></div><div class="content">
                <h2>
                    @Localizer["Custom Magazines"]

                </h2>
                <p>
                    @Localizer["You can be invited to read magazines of companies, universities, entities and etc, have access to a 24x7 channel containing news, case studies, product catalogs, releases and more. Always free to the reader."]
                </p>
            </div>
        </section>
    </section>

    <!-- Three -->
    <section id="one" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>@Localizer["Prices and Plans"]</h2>
            </header>
            <ul class="features">
                <li class="icon icon-money">
                    <h3>@Localizer["Bronze Package"]</h3>
                    <p>

                        <div>@Localizer["Up to"]</div>
                        <div>100</div>
                        <div>@Localizer["users"]</div>
                        <div>R $ 399.00 - </div>
                        <div>@Localizer["per month"]</div>

                    </p>
                </li>
                <li class="icon icon-money">
                    <h3>@Localizer["Silver Package"]</h3>
                    <p>

                        <div>@Localizer["Up to"]</div>
                        <div>200</div>
                        <div>@Localizer["users"]</div>
                        <div>R $ 778.00 - </div>
                        <div>@Localizer["per month"]</div>

                    </p>
                </li>
                <li class="icon icon-money">
                    <h3>@Localizer["Gold Package"]</h3>
                    <p>
                        <div>@Localizer["Up to"]</div>
                        <div>200</div>
                        <div>@Localizer["users"]</div>
                        <div>R $ 1137.00 - </div>
                        <div>@Localizer["per month"]</div>

                    </p>
                </li>
                <li class="icon icon-money">
                    <h3>@Localizer["Need more users?"]</h3>
                    <p>
                        <a href="mailto:wootrix@wootrix.com">
                            @Localizer["Contact us through email"]
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
        <div class="inner">
            <header>
                <a href="https://itunes.apple.com/lc/app/wootrix/id1034925784?mt=8">
                    <img class="img" src="~/images/App_Store_Badge_PTBR.png" alt="App Store" />
                </a>
            </header>
            <header>
                <a href="https://play.google.com/store/apps/details?id=com.ta.wootrix">
                    <img class="img" src="~/images/google-play-badge-PTBR.png" alt="Google Play" />
                </a>
            </header>
            <header>
                <a href="#">
                    <img class="img" src="~/images/Web_Badge_PTBR.png" alt="Internet" />
                </a>
            </header>
        </div>
    </section>
}


