@model WootrixV2.Models.CompanyGroups

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<div class="bodyBox">
    <h2>@Localizer["Details"]</h2>

    <div>
        <h4>@Localizer["Groups"]</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GroupName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GroupName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>