@model WootrixV2.Models.SegmentArticle

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using WootrixV2.Data;
@using System.Net
@using System.Web;
@using System.IO;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    var _companyName = Context.Session.GetString("CompanyName");
    var _SegmentListID = Context.Session.GetString("SegmentListID");

}

<div class="articleBackButtonContainer">
    <a asp-controller="CompanySegments" asp-action="ArticleList" asp-route-id="@_SegmentListID"><button class="articleBackButton button"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back to Article List</button></a>
</div>
<main id="UserView">
    <div class="articleContainer">
        <div class="articleContainerCentred">
            <div class="articleContainerSub">
                <div class="articleBox">
                    <section style="display: block">
                        <div class="article articleDetails">
                            <div>

                                @{
                                    var fn = _companyName + "_" + WebUtility.HtmlEncode(Model.Title) + "_" + Model.Image;
                                }

                                <h1>@Model.Title</h1>
                                <div class="imageStuff">
                                    <img src="~/images/Uploads/Articles/@fn" class="UserArticleImage" />
                                </div>
                                @Html.Raw(Model.ArticleContent)
                                <div class="publishStuff">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <div class="author">Posted by @Model.Author&nbsp;</div><div class="publishDate">@Model.PublishFrom</div>
                                </div>
                                @if (Model.AllowComments ?? false)
                                {
                                    <div class="commentStuff">
                                        <a asp-controller="SegmentArticleComments" asp-action="Index" asp-route-id="@Model.ID">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            <div class="commentCount">@ViewBag.CommentCount &nbsp;</div><div class="commentView">
                                                Comments
                                            </div>
                                        </a>
                                    </div>
                                    <div class="commentsList">
                                        @foreach (WootrixV2.Models.SegmentArticleComment com in ViewBag.Comments)
                                        {
                                            // If not a reply
                                            if (string.IsNullOrEmpty(com.ReplyingToCommentID.ToString()))
                                            {
                                                <div class="comment-box">

                                                   
                                                    <div class="comment-date">@com.CreatedDate</div>
                                                    <div class="comment-person">@com.UserName</div>
                                                    <div class="comment-text">@com.Comment</div>
                                                </div>
                                            }
                                            // If it is a reply
                                            @if (!string.IsNullOrWhiteSpace(com.ReplyingToCommentID.ToString()))
                                            {
                                                <div class="reply-box">
                                                    <div class="comment-person">Reply from Admin: @com.UserName</div>
                                                    <div class="comment-text">@com.Comment</div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="articleBackButtonContainer">
    <a asp-controller="CompanySegments" asp-action="ArticleList" asp-route-id="@_SegmentListID"><button class="articleBackButton button"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back to Article List</button></a>
</div>
