@model WootrixV2.Models.SegmentArticleViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Create"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

@section Scripts {
    @*https://www.pluralsight.com/guides/asp-net-mvc-populating-dropdown-lists-in-razor-views-using-the-mvvm-design-pattern-entity-framework-and-ajax*@
    <script type="text/javascript">


$("#Countries").change(function () {
    var selectedCountry = $("#Countries").val();
    var regionsSelect = $("#States");
    regionsSelect.empty();
    var citySelect = $("#Cities");
    citySelect.empty();
    if (selectedCountry != null && selectedCountry != "") {
        $.getJSON('@Url.Action("GetStates")', { countryCode: selectedCountry }, function (states) {

            if (states != null && !jQuery.isEmptyObject(states))
            {
                regionsSelect.append($('<option/>', {
                    value: null,
                    text: ""
                }));
                $.each(states, function (index, state) {

                    regionsSelect.append($("<option />").val(this.value).text(this.text));
                });
            }
        });
    }
});


$("#States").change(function () {
    var selectedState = $("#States").val();
    var citySelect = $("#Cities");
    citySelect.empty();
    if (selectedState != null && selectedState != "") {
        $.getJSON('@Url.Action("GetCities")', { stateCode: selectedState }, function (cities) {
            if (cities != null && !jQuery.isEmptyObject(cities)) {
                citySelect.append($("<option />", {
                    value: null,
                    text: ""
                }));
                $.each(cities, function (index, city) {
                    citySelect.append($("<option />").val(this.value).text(this.text));
                });
            }
        });
    }
});
    </script>

}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="bodyBox">
    <h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["Create"]</h2>

    <h4 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["Article"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ArticleUrl" class="control-label"></label>
                    <input asp-for="ArticleUrl" class="form-control" />
                    <span asp-validation-for="ArticleUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    @Html.EditorFor(x => x.Image)
                    @*<input asp-for="Image" type="file" class="form-control" />*@
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmbeddedVideo" class="control-label"></label>
                    <input asp-for="EmbeddedVideo" type="file" class="form-control" />
                    <span asp-validation-for="EmbeddedVideo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArticleContent" class="control-label"></label>
                    <textarea id="editor1" asp-for="ArticleContent" class="form-control"></textarea>
                    <span asp-validation-for="ArticleContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishFrom" class="control-label"></label>
                    <input asp-for="PublishFrom" type="date" class="form-control hasDatepicker" />
                    <span asp-validation-for="PublishFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishTill" class="control-label"></label>
                    <input asp-for="PublishTill" type="date" class="form-control hasDatepicker" />
                    <span asp-validation-for="PublishTill" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowComments" class="control-label"></label>

                    <select class="form-control" id="AllowComments" name="AllowComments">
                        <option value="">@Localizer["Not Set"]</option>
                        <option selected="selected" value="true">@Localizer["True"]</option>
                        <option value="false">@Localizer["False"]</option>
                    </select>
                    @*@Html.EditorFor(x => x.AllowComments)*@
                    @*<select class="list-box tri-state" id="AllowComments" name="AllowComments">
                            <option value="">Not Set</option>
                            <option selected="selected" value="true">True</option>
                            <option value="false">False</option>
                        </select>*@
                    <span asp-validation-for="AllowComments" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                @Html.LabelFor(x => Model.Segments, htmlAttributes: new { @class = "control-label" })
                <div class="form-group checkbox-box">

                    @foreach (var item in Model.AvailableSegments)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="SelectedSegments" value="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>

                @Html.LabelFor(x => Model.Groups, htmlAttributes: new { @class = "control-label" })
                <div class="form-group checkbox-box">

                    @foreach (var item in Model.AvailableGroups)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="SelectedGroups" value="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>



                @Html.LabelFor(x => Model.Topics, htmlAttributes: new { @class = "control-label" })
                <div class="form-group checkbox-box">

                    @foreach (var item in Model.AvailableTopics)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="SelectedTopics" value="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>



                @Html.LabelFor(x => Model.TypeOfUser, htmlAttributes: new { @class = "control-label" })
                <div class="form-group checkbox-box">

                    @foreach (var item in Model.AvailableTypeOfUser)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="SelectedTypeOfUser" value="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>

                @Html.LabelFor(x => Model.Languages, htmlAttributes: new { @class = "control-label" })
                <div class="form-group checkbox-box">

                    @foreach (var item in Model.AvailableLanguages)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" name="SelectedLanguages" checked="@item.Selected" value="@item.Value" /> @Localizer[item.Text]</label>
                        </div>
                    }
                </div>


                <div class="form-group">
                    @Html.LabelFor(x => Model.Country, htmlAttributes: new { @class = "control-label" })
                    <select class="form-control" id="Countries" name="Country">
                        @foreach (var i in Model.Countries)
                        {
                            <option value="@i.Value">@Localizer[i.Text]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => Model.State, htmlAttributes: new { @class = "control-label" })
                    <select class="form-control" id="States" name="State">
                        @foreach (var i in Model.States)
                        {
                            <option value="@i.Value">@Localizer[i.Text]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => Model.City, htmlAttributes: new { @class = "control-label" })
                    <select class="form-control" id="Cities" name="City">
                        @foreach (var i in Model.Cities)
                        {
                            <option value="@i.Value">@Localizer[i.Text]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="@Localizer["Create"]" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>

<script>CKEDITOR.replace('editor1');</script>

