@model WootrixV2.Models.UserViewModel


@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    var _type = Context.Session.GetString("ManageType");
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (_type == "CompanyAdmin")
            {
                <div class="form-group">
                    @Html.LabelFor(x => Model.Categories, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(x => Model.Categories, new SelectList(Model.Departments, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Departments" })
                    @Html.ValidationMessageFor(x => x.Categories, "", new { @class = "text-danger" })

                </div>
            }
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.Gender, htmlAttributes: new { @class = "control-label" })

                @Html.DropDownListFor(x => Model.Gender, new SelectList(Model.Genders, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Genders" })
                @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteLanguage" class="control-label"></label>
                <input asp-for="WebsiteLanguage" class="form-control" />
                <span asp-validation-for="WebsiteLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

