@model WootrixV2.Models.UserViewModel

@using Microsoft.AspNetCore.Http;

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    var _type = Context.Session.GetString("ManageType");
}

@section Scripts {
    @*https://www.pluralsight.com/guides/asp-net-mvc-populating-dropdown-lists-in-razor-views-using-the-mvvm-design-pattern-entity-framework-and-ajax*@
    <script type="text/javascript">


$("#Countries").change(function () {
    var selectedCountry = $("#Countries").val();
    var regionsSelect = $("#States");
    regionsSelect.empty();
    var citySelect = $("#Cities");
    citySelect.empty();
    if (selectedCountry != null && selectedCountry != "") {
        $.getJSON('@Url.Action("GetStates")', { countryCode: selectedCountry }, function (states) {

            if (states != null && !jQuery.isEmptyObject(states))
            {
                regionsSelect.append($('<option/>', {
                    value: null,
                    text: ""
                }));
                $.each(states, function (index, state) {

                    regionsSelect.append($("<option />").val(this.value).text(this.text));
                });
            }
        });
    }
});


$("#States").change(function () {
    var selectedState = $("#States").val();
    var citySelect = $("#Cities");
    citySelect.empty();
    if (selectedState != null && selectedState != "") {
        $.getJSON('@Url.Action("GetCities")', { stateCode: selectedState }, function (cities) {
            if (cities != null && !jQuery.isEmptyObject(cities)) {
                citySelect.append($("<option />", {
                    value: null,
                    text: ""
                }));
                $.each(cities, function (index, city) {
                    citySelect.append($("<option />").val(this.value).text(this.text));
                });
            }
        });
    }
});
    </script>

}


<div class="bodyBox">
    <h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["Edit"]</h2>

    <h4 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["User"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @if (_type == "CompanyAdmin")
                {
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Categories, htmlAttributes: new { @class = "control-label" })
                        <select class="form-control" id="Departments" name="Categories">
                            @foreach (var i in Model.Departments)
                            {
                                <option value="@i.Value">@Localizer[i.Text]</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.Categories, "", new { @class = "text-danger" })

                    </div>
                }
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => Model.Gender, htmlAttributes: new { @class = "control-label" })
                    <select class="form-control" id="Genders" name="Gender">
                        @foreach (var i in Model.Genders)
                        {
                            <option value="@i.Text">@Localizer[i.Text]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    @Html.EditorFor(x => x.Photo)
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => Model.InterfaceLanguage, htmlAttributes: new { @class = "control-label" })
                    <select class="form-control" id="InterfaceLanguages" name="InterfaceLanguage">
                        @foreach (var i in Model.InterfaceLanguages)
                        {
                            <option value="@i.Value">@Localizer[i.Text]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.InterfaceLanguage, "", new { @class = "text-danger" })

                </div>


                @if (_type == "User")
                {
                    <div class="form-group checkbox-box">
                        <label asp-for="Groups" class="control-label"></label>
                        @foreach (var item in Model.AvailableGroups)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedGroups" checked="@item.Selected" value="@item.Value" /> @item.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-group checkbox-box">
                        <label asp-for="Topics" class="control-label"></label>
                        @foreach (var item in Model.AvailableTopics)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedTopics" checked="@item.Selected" value="@item.Value" /> @item.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-group checkbox-box">
                        <label asp-for="TypeOfUser" class="control-label"></label>
                        @foreach (var item in Model.AvailableTypeOfUser)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedTypeOfUser" checked="@item.Selected" value="@item.Value" /> @item.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-group checkbox-box">
                        <label asp-for="WebsiteLanguage" class="control-label"></label>
                        @foreach (var item in Model.AvailableLanguages)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedLanguages" value="@item.Value">@Localizer[item.Text]
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => Model.Country, htmlAttributes: new { @class = "control-label" })
                        <select class="form-control" id="Countries" name="Country">
                            @foreach (var i in Model.Countries)
                            {
                                <option value="@i.Value">@Localizer[i.Text]</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => Model.State, htmlAttributes: new { @class = "control-label" })
                        <select class="form-control" id="States" name="State">
                            @foreach (var i in Model.States)
                            {
                                <option value="@i.Value">@Localizer[i.Text]</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => Model.City, htmlAttributes: new { @class = "control-label" })
                        <select class="form-control" id="Cities" name="City">
                            @foreach (var i in Model.Cities)
                            {
                                <option value="@i.Value">@Localizer[i.Text]</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                    </div>


                }
                <div class="form-group">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-route-id="@_type">@Localizer["Back to List"]</a>
    </div>

</div>