@model IEnumerable<WootrixV2.Models.User>

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using WootrixV2.Data;

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User Managment"];

    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    var t = Context.Session.GetString("ManageType");
    var _type = t;
    if (t == "CompanyAdmin" || t == "Admin")
    {
        _type = "Company Admins";
    }
    var _companyName = Context.Session.GetString("CompanyName");
}

@section Scripts {
   
    <script type="text/javascript">

        $("#CompanyChoose").change(function () {

            var companyID = $('option:selected', $(this)).val();
            var companyName = $('option:selected', $(this)).text();
            alert("CompanyID:" + companyID + "  CompanyName:" + companyName);

            window.location.href = '/Users/Create/' + companyID;
        });

    </script>

}




<div class="articleBackButtonContainer">
    <a asp-controller="Company" asp-action="Home" asp-route-id="@_companyName">
    <button class="articleBackButton button glow"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;@Localizer["Back to Admin Menu"]</button></a>
</div>



<div class="bodyBox">
    @if (t == "Admin")
    {
        // Need to create a dropdownlist of companies so a Super Admin can create the new Company Admins
        <div id="ChooseYourCompany" class="col-lg-offset-1">
            <label>@Localizer["Create new Company Admin in:"]</label>
            <select class="form-control" id="CompanyChoose" name="CompanyChoose">
                @foreach (var comp in ViewBag.Companies)
                {
                    <option value="@comp.Value">@comp.Text</option>
                }
            </select>
        </div>
        <p></p>
    }
    else
    {
        <div class="articleBackButtonContainer">
            <a asp-controller="Users" asp-action="BulkUpload"><button class="articleBackButton button glow"><span class="glyphicon glyphicon-glyphicon-open"></span>&nbsp;@Localizer["Bulk Upload Users"]</button></a>
        </div>

        <p>@Localizer["Note that if a filter like Group, Language, User type, Topic or Location is not set all articles will be shown as opposed to those marked with a particular filter"]</p>

        <p>
            <a asp-action="Create" class="button">@Localizer["Create New"]&nbsp;@Localizer[_type]</a>
        </p>
    }
    <h2 class="textNoPad" style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer[_type]</h2>


    <table class="table">
        <thead>
            <tr>
                @if (t == "Admin")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if (t == "CompanyAdmin")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Categories)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.InterfaceLanguage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>

                @if (_type == "CompanyAdmin")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Categories)
                    </th>
                }
                @if (_type == "User")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Groups)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Topics)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TypeOfUser)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.WebsiteLanguage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>

                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (t == "Admin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                    }
                    <td>
                        @item.EmailAddress
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (t == "CompanyAdmin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories)
                        </td>
                    }
                    <td>
                        @Localizer[item.InterfaceLanguage]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Localizer[item.Gender]
                    </td>
                    <td>

                        @{
                            var fn = item.CompanyName + "_" + item.Photo;
                        }
                        <img src="~/images/Uploads/Users/@fn" class="tableimg" />
                    </td>

                    @if (_type == "CompanyAdmin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories)
                        </td>
                    }
                    @if (_type == "User")
                    {
                        <td>
                            @if (!string.IsNullOrEmpty(item.Groups))
                            {
                                if (item.Groups.Contains("|"))
                                {
                                    var e = item.Groups.Replace("|", ", ");
                                    <q>@e</q>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Groups)
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Groups)
                            }
                            @*@Html.DisplayFor(modelItem => item.Groups)*@
                        </td>
                        <td>

                            @if (!string.IsNullOrEmpty(item.Topics))
                            {
                                if (item.Topics.Contains("|"))
                                {
                                    var e = item.Topics.Replace("|", ", ");
                                    <q>@e</q>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Topics)
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Topics)
                            }
                            @*@Html.DisplayFor(modelItem => item.Topics)*@
                        </td>
                        <td>
                            @{

                                if (!string.IsNullOrEmpty(item.TypeOfUser))
                                {
                                    if (item.TypeOfUser.Contains("|"))
                                    {
                                        var e = item.TypeOfUser.Replace("|", ", ");
                                        <q>@e</q>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.TypeOfUser)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.TypeOfUser)
                                }
                            }
                            @*@Html.DisplayFor(modelItem => item.TypeOfUser)*@
                        </td>

                        <td>


                            @{
                                //Split the languages and localise
                                if (!string.IsNullOrEmpty(item.WebsiteLanguage))
                                {
                                    if (item.WebsiteLanguage.Contains("|"))
                                    {
                                        string[] langs = item.WebsiteLanguage.Split("|"); ;

                                        foreach (string la in langs)
                                        {
                                            @Localizer[la ?? ""]<q>@(langs.Last() == la ? " " : ", ")</q>;

                                        }
                                    }
                                    else
                                    {
                                        @Localizer[item.WebsiteLanguage]
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.WebsiteLanguage)
                                }
                            }
                            @*@Html.DisplayFor(modelItem => item.WebsiteLanguage)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>