@model WootrixV2.Models.CompanyPushNotification
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["Details"]</h2>

<div>
    <h4 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">CompanyPushNotification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Options)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Options)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SentAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
