@model IEnumerable<WootrixV2.Models.CompanyDepartments>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}



@section Scripts {
    
    <script type="text/javascript">
        $("#CompanySelector").change(function () {
            var companyID = $('option:selected', $(this)).val();
            window.location.href = '/CompanyDepartments/Index/' + companyID;
        });
       
    </script>

}


<div class="bodyBox">
    <h2>@Localizer["Index"]</h2>

    <div class="row">
        <div class="col-md-4">


            <div class="form-group">
                <label class="control-label">@Localizer["Select Company"]</label>
                <select id="CompanySelector" class="form-control">
                    @foreach (var company in ViewBag.Companies)
                    {
                    <option value="@company.Value">@Localizer[company.Text]</option>
                    }
                </select>

               
            </div>
        </div>
    </div>

    <p>
        <a asp-action="Create">@Localizer["Create New"]</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyDepartmentName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyDepartmentName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>