@model IEnumerable<WootrixV2.Models.CompanyDepartments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<div class="bodyBox">
    <h2>Index</h2>

    <script>


    </script>

    <div class="row">
        <div class="col-md-4">


            <div class="form-group">
                <label class="control-label">Select Company</label>
                <select id="CompanySelector" class="form-control">
                    @foreach (var company in ViewBag.Companies)
                    {
                        <option value="@company.Value">@company.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyDepartmentName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyDepartmentName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>