@model IEnumerable<WootrixV2.Models.SegmentArticle>


@using System.Net
@using Microsoft.AspNetCore.Identity
@using WootrixV2.Data

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] =  "Magazine Articles";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    var _companyName = UserManager.GetUserAsync(User).GetAwaiter().GetResult().companyName;
}

<div class="articleBackButtonContainer">
    <a asp-controller="CompanySegments" asp-action="Index" asp-route-id="@_companyName">
        <button class="articleBackButton button">
            <span class="glyphicon glyphicon-menu-left"></span>
            Back to Magazines
        </button>
    </a>
</div>

<div class="bodyBox">
    <h2>Magazine Articles</h2>

    <p>
        <a asp-controller="SegmentArticles" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmbeddedVideo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PublishFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishTill)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllowComments)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Segments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="article-order">
                            <label class="control-label">Order</label>
                            <select class="ArtOrderSelector">

                                @foreach (var it in Model)
                                {

                                    if (item.Order == it.Order)
                                    {
                                        <option value="@it.Order.Value" selected="selected">@it.Order.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@it.Order.Value</option>
                                    }
                                }

                            </select>
                        </div>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @{
                            var fn = _companyName + "_" + WebUtility.HtmlEncode(item.Title) + "_" + item.Image;
                        }
                        <img src="~/images/Uploads/Articles/@fn" class="tableimg" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmbeddedVideo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PublishFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishTill)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllowComments)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Segments)
                    </td>

                    <td>
                        <a asp-controller="SegmentArticles" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="SegmentArticles" asp-action="RemoveFromMagazine" asp-route-id="@item.ID">Remove From Magazine</a> |
                        <a asp-controller="SegmentArticles" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>