@model IEnumerable<WootrixV2.Models.CompanySegment>

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using WootrixV2.Data;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Localizer["Magazine List"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    var _companyName = UserManager.GetUserAsync(User).GetAwaiter().GetResult().companyName;
}


<div class="articleBackButtonContainer">
    <a asp-controller="Company" asp-action="Home" asp-route-id="@_companyName">
        <button class="articleBackButton button glow">
            <span class="glyphicon glyphicon-menu-left"></span>
            @Localizer["Back to Admin Menu"]
        </button>
    </a>

</div>

<div class="bodyBox">
    <h2>@Localizer["Magazines"]</h2>

    <p>
        <a asp-action="Create">@Localizer["Create New"]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="magazine-header-text">
                    <h2>@Localizer["Magazines"]</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @foreach (var item in Model)
                {
                    <td class="magazine glow bump" @*style="border:4px solid @item.ThemeColor;  background:@item.StandardColor;" *@>

                        <div class="magazine-order">
                            <label class="control-label">@Localizer["Order"]</label>
                            <select class="OrderSelector">

                                @foreach (var it in Model)
                                {

                                    if (item.Order == it.Order)
                                    {
                                        <option value="@it.Order.Value" selected="selected">@it.Order.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@it.Order.Value</option>
                                    }
                                }

                            </select>

                        </div>
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <div class="magazine-pic">
                                @{
                                    var fn = _companyName + "_" + item.CoverImage;
                                }
                                <img src="~/images/Uploads/@fn" />
                            </div>
                        </a>
                        <div class="magazine-text">
                            <div class="magazine-text-title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </div>
                            <div class="magazine-text-dates">
                                @Html.DisplayFor(modelItem => item.PublishDate) -
                                @Html.DisplayFor(modelItem => item.FinishDate)
                            </div>


                            @{
                                var draftOrNot = "Publish";
                                var color = item.ThemeColor;
                                if (item.Draft == false)
                                {

                                    draftOrNot = "Published";


                                }
                                else
                                {
                                    draftOrNot = "Draft";
                                    color = item.StandardColor;


                                }
                            }
                            <div class="magazine-text-draft btn btn-default" style="background:@color">
                                @Localizer[draftOrNot]
                            </div>
                            <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.ID">
                                <div class="magazine-text-edit" style="background:@Html.DisplayFor(modelItem => item.StandardColor)">
                                    @Localizer["Edit"]

                                </div>
                            </a>
                            <a asp-action="Delete" class="btn btn-default" asp-route-id="@item.ID">
                                <div class="magazine-text-delete" style="background:@Html.DisplayFor(modelItem => item.StandardColor)">
                                    @Localizer["Delete"]

                                </div>
                            </a>
                        </div>

                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

