@model WootrixV2.Models.Company

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyLogoImage)
        </dt>
        <dd>
            @{
                var base64Logo = Convert.ToBase64String(Model.CompanyLogoImage);
                var imgSrcLogo = String.Format("data:image/gif;base64,{0}", base64Logo);
            }
            <img src="@imgSrcLogo" height="35" />

            @*@Html.DisplayFor(model => model.CompanyLogoImage)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyBackgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyBackgroundImage)
        </dt>
        <dd>
            @{
                var imgSrcBack = "";
                if (Model.CompanyBackgroundImage != null)
                {
                    var base64Back = Convert.ToBase64String(Model.CompanyBackgroundImage);
                    imgSrcBack = String.Format("data:image/gif;base64,{0}", base64Back);
                }
            }
            <img src="@imgSrcBack" height="35" />
            @*@Html.DisplayFor(model => model.CompanyBackgroundImage)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyFocusImage)
        </dt>
        <dd>
            @{
                var imgSrcFoc = "";
                if (Model.CompanyFocusImage != null)
                {
                    var base64Foc = Convert.ToBase64String(Model.CompanyFocusImage);
                    imgSrcFoc = String.Format("data:image/gif;base64,{0}", base64Foc);
                }
            }
            <img src="@imgSrcFoc" height="35" />
            @*@Html.DisplayFor(model => model.CompanyFocusImage)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyTextMain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyTextMain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyTextSecondary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyTextSecondary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHighlightColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHighlightColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyMainFontColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyMainFontColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHeaderFontColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHeaderFontColor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
