@model WootrixV2.Models.Company

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] =  "Details";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    var item = Model;

    var _companyName = Context.Session.GetString("CompanyName");
}

<div class="articleBackButtonContainer">
    <a asp-controller="Company" asp-action="Home" asp-route-id="@_companyName"><button class="articleBackButton button"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back to Admin Menu</button></a>
</div>
<div class="bodyBox">
    <h2>Details</h2>

    <div>
        <h4>Company</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyLogoImage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyLogoImage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyBackgroundColor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyBackgroundImage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyBackgroundImage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyFocusImage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyFocusImage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyTextMain)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyTextMain)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyTextSecondary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyTextSecondary)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyHighlightColor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyHighlightColor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyMainFontColor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyMainFontColor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyHeaderFontColor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyHeaderFontColor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyNumberOfUsers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyNumberOfUsers)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyNumberOfPushNotifications)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyNumberOfPushNotifications)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>