@model WootrixV2.Models.Company

@{
    ViewData["Title"] = "Wootrix 2.0 Company Home Page";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using WootrixV2.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="companyHome" company="@Model.CompanyName">
    <!-- Banner -->
    
    @if (!SignInManager.IsSignedIn(User))
    {
        <section style="height: 92vh; background-image: url(@Model.CompanyBackgroundImage);" alt="Home screen image" class="img-responsive">


            <div class="container clearfix">
                <div class="span7 left">
                    <figure class="main-home-image">
                        <!--COMPANY FOCUS IMAGE-->
                        
                        <img src="@Model.CompanyFocusImage" id="CompanyFocusImage" alt="Home screen image" />

                    </figure>
                </div>
                <div class="span5 right">
                    <div class="social-login-cont">
                        <div class="signin-social">
                            <!--COMPANY TEXT MAIN-->
                            <h2 id="CompanyTextMain" style="color:@Model.CompanyMainFontColor !important;">@Html.DisplayFor(modelItem => Model.CompanyTextMain)</h2>
                        </div>
                        <div class="btn-box clearfix">
                            <!--COMPANY TEXT SECONDARY-->
                            <h3 id="CompanyTextSecondary" style="color:@Model.CompanyMainFontColor !important;">@Html.DisplayFor(modelItem => Model.CompanyTextSecondary)</h3>
                        </div>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <div class="btn-box clearfix">
                                <a asp-area="Identity" class="register-bttn" asp-page="/Account/Login/@Model.CompanyName">Login</a>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </section>
    }
    else
    {
        <section style="background-color:@Model.CompanyBackgroundColor;"></section>
<h1>Articles here</h1>

    }


</div>
