@model WootrixV2.Models.Company

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Company home page - Normally this will show a login interface
</h2>

<div>
    <!--I'm putting the company attributes in hidden tags so the page can be customised at runtime by js -->
    <div id="thisComanyName" val="@Html.DisplayFor(model => model.CompanyName)" style="visibility:hidden"></div>
    <div id="thisCompanyLogoImage" val="@Html.DisplayFor(model => model.CompanyLogoImage)" style="visibility:hidden"></div>
    <div id="thisCompanyBackgroundColor" val="@Html.DisplayFor(model => model.CompanyBackgroundColor)" style="visibility:hidden"></div>
    <div id="thisCompanyBackgroundImage" val="@Html.DisplayFor(model => model.CompanyBackgroundImage)" style="visibility:hidden"></div>
    <div id="thisCompanyFocusImage" val="@Html.DisplayFor(model => model.CompanyFocusImage)" style="visibility:hidden"></div>
    <div id="thisCompanyTextMain" val="@Html.DisplayFor(model => model.CompanyTextMain)" style="visibility:hidden"></div>
    <div id="thisCompanyTextSecondary" val="@Html.DisplayFor(model => model.CompanyTextSecondary)" style="visibility:hidden"></div>
    <div id="thisCompanyHighlightColor" val="@Html.DisplayFor(model => model.CompanyHighlightColor)" style="visibility:hidden"></div>
    <div id="thisCompanyHeaderBackgroundColor" val="@Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)" style="visibility:hidden"></div>

    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyLogoImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyLogoImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyBackgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyBackgroundImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyBackgroundImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyFocusImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyFocusImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyTextMain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyTextMain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyTextSecondary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyTextSecondary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHighlightColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHighlightColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyHeaderBackgroundColor)
        </dd>
    </dl>
</div>


