@model IEnumerable<WootrixV2.Models.Company>
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";

    var _companyName = Context.Session.GetString("CompanyName");
}

<div class="articleBackButtonContainer">
    <a asp-controller="Company" asp-action="Home" asp-route-id="@_companyName">
        <button class="articleBackButton button glow"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;@Localizer["Back to Admin Menu"]</button>
    </a>
</div>
<div class="bodyBox">
    <h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@Localizer["Company List"]</h2>

    <p>
        <a asp-action="Create">@Localizer["Create New"]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyLogoImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyBackgroundColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyBackgroundImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyFocusImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyTextMain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyTextSecondary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyHighlightColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyHeaderBackgroundColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyMainFontColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyHeaderFontColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyNumberOfUsers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyNumberOfCurrentUsers)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.CompanyNumberOfPushNotifications)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyUsedPushNotifications)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @{
                        var fn = ViewBag.UploadsLocation + item.CompanyName + "_" + item.CompanyLogoImage;
                    }
                    <img src="@fn" class="tableimg" />
                </td>
                <td style="background:@item.CompanyBackgroundColor">
                    @Html.DisplayFor(modelItem => item.CompanyBackgroundColor)
                </td>
                <td>
                    @{var fnb = ViewBag.UploadsLocation + item.CompanyName + "_" + item.CompanyBackgroundImage;}
                    <img src="@fnb" class="tableimg" />
                </td>
                <td>
                    @{var fnf = ViewBag.UploadsLocation + item.CompanyName + "_" + item.CompanyFocusImage;}
                    <img src="@fnf" class="tableimg" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTextMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTextSecondary)
                </td>
                <td style="background:@item.CompanyHighlightColor">
                    @Html.DisplayFor(modelItem => item.CompanyHighlightColor)
                </td>
                <td style="background:@item.CompanyHeaderBackgroundColor">
                    @Html.DisplayFor(modelItem => item.CompanyHeaderBackgroundColor)
                </td>
                <td style="background:@item.CompanyMainFontColor">
                    @Html.DisplayFor(modelItem => item.CompanyMainFontColor)
                </td>
                <td style="background:@item.CompanyHeaderFontColor">
                    @Html.DisplayFor(modelItem => item.CompanyHeaderFontColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNumberOfUsers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNumberOfCurrentUsers)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNumberOfPushNotifications)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyUsedPushNotifications)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>