@model IEnumerable<WootrixV2.Models.CompanyTypeOfUser>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User Type"];
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<div class="bodyBox">
    <h2>@Localizer["Type of User"]</h2>

    <p>
        <a asp-action="Create">@Localizer["Create New"]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfUser)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>